*{
    margin: 0;
    font-family: Arial;
}
.navbar{
    height: 60px;
    color: white;
    background-color: #0F1111;
    display: flex;
    align-items: centre;
}
.nav-logo{
    height: 50px;
    width: 100px;
    padding-left: 10px;
}
.logo{
    background-image: url('amazon_logo.png');
    height: 50px;
    background-size: cover;
    width: 100%;
}
.border{
    border: 1px solid transparent;
    
}
.border:hover{
    border:2px solid white;
}
/* Box-2 */
.nav-address{
    margin: 13px;
}
.add-icon{
    display: flex;
    align-items: centre;
}
.first-para{
    font-size: 12px;
    margin-left: 13px;
}
.second-para{
    font-weight: 700;
}
/* Box-3 */
.nav-search{
    display: flex;
    align-items: centre;
    justify-content: space-evenly;
    background-color: #91f6fe;
    /* background-color: #febd68; */
    height: 40px;
    width: 780px;
    margin: 7px;
    border-radius: 4px;
    position: relative;
    left: 18px;
}
.optn{
    background-color: #e6e6e6;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 60px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: centre;
    padding-top: 12px;
    font-size: 20px;
    color: #0F1111;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    
}
.nav-search:hover{
    border:2px solid #febd68;
}

/* Box-4 */
.nav-lang{
    display: flex;
    flex-direction:row;
    align-items: centre;
    justify-content: center;
    background-color: #0F1111;
    position: relative;
    left: 20px;
    margin: 13px;
}
.nav-lang img{
    height: 13px;
    width: 22px;
    margin-top: 8px;
    margin-left: 10px;
}
.optn1{
    height: 30px;
    width: 40px;
    /* margin-top: 15px; */
    background-color: #0F1111;
    color: white;
    border: none;
    font-weight: 700;
}

/* Box5 */
.nav-sign{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 10px;
    margin: 13px;

}
span{
    font-size: 0.78rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/* Box-6 */
.nav-return{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 10px;
    margin: 13px;
}

/* box7 */
.nav-cart{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 10px;
    margin: 13px;
}
.nav-cart i{
    font-size: 30px;
}
.nav-cart p{
    font-size: 0.85rem;
    font-weight: 700;
    padding-top: 15px;
}
/* Panel */
.panel{
    background-color: #222f3e;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    
}
/* Box-1 */
.panel-all a{
    color: white;
    text-decoration: none;
}
/* Box-2 */
.panel-op p{
    display: inline;
    margin: 14px;
}
.panel-op a{
    color: white;
    text-decoration: none;
}
.panel-op{
    width: 70%;
    font: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
.panel-deals a{
    color: white;
    text-decoration: none;
}

/* Hero Section */
.hero-section{
    background-image: url('hero_image.jpg');
    height: 400px;
    width: 100%;
    background-size: cover;
}
.hero-message{
    height: 40px;
    background-color: #f5f6f6;
    text-align: center;
    position: relative;
    top: 80%;

}
.hero-message p{
    padding-top: 10px;
}
.hero-message a{
    color: #007185;
}
.hero-message a:hover{
    color: #C7511F;
}


.shop-section{
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    /* border: 2px solid black; */
    height: 329.25px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
}
.box-image{
    margin-top: 20px;
    margin-bottom: 10px;
    height: 250px;
    background-position: centre;
    background-repeat: no-repeat;
    background-size: cover;
}
.box-content{
    margin-bottom: 44px;
    padding: 0 20px;
}
.box-content a{
    text-decoration: none;   
}


.shop-section2{
    padding: 20px 0px 15px;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.boxsec2{
    /* border: 2px solid black; */
    height: 329.25px;
    width: 88rem;
    background-color: white;
    padding: 20px 0px 15px;
}
.box-inrbox{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
.box-inerimage{
    height: 200px;
    width: 127px;
    /* border: 1px solid black; */
    background-position: centre;
    background-repeat: no-repeat;
    background-size: cover;
}
.box-inerimage2{
    height: 200px;
    width: 165px;
    box-sizing: border-box;
    background-position: centre;
    background-repeat: no-repeat;
    background-size: cover;
}
.box-inrbox2{
    display: flex;
    /* justify-content: space-between; */
    padding: 40px;
}

/* footer */
.footer-level1{
    background-color: #37475a;
    color: white;
    height: 50px;
    font-size: 0.85rem;
    display: flex;
    justify-content: centre;
    align-items: centre;
}
footer{
    margin-top: 18px;
}
.footer-level1 p{
    position: relative;
    left: 48%;
    top: 38%;
}
.footer-level2{
    background-color: #232F3E;
    color: white;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    padding-left: 70px;
    padding-right: 70px;
}
ul a{
    display: block;
    font-size: 0.9rem;
    padding-top: 10px;
    color: #DDD;
    text-decoration: none;
}
ul a:hover{
    text-decoration: underline;
}
ul p{
    font-weight: 700;
    font-size: 1rem;
    padding-top: 40px;
}

.footer-level3{
    padding-top: 10px;
    border: 0.1px solid white;
    background-color: #232F3E;
    height: 110px;
    width: 100%;
    display: flex;

}
.footer-logo{
    height: 50px;
    width: 100px;
    position: relative;
    top: 25px;
    left: 400px;
}
/* .footer-box1{
    display: flex;
    align-items: centre;
    position: relative;
    top: 35px;
    height: 15px;
    width: 90px;
    left: 475px;
    border: 1px solid #848688;
    border-radius: 3px;
    padding: 6px 18px 6px 8px;
    font-size: 13px;
    color: white; 
    margin-right: 4px;
} */
.en{
    align-items: centre;
    background-color: #232F3E;
    display: flex;
    align-item:centre;
    position: relative;
    top: 35px;
    height: 30px;
    width: 110px;
    left: 475px;
    border: 1px solid #848688;
    border-radius: 3px;
    padding: 6px 18px 6px 8px;
    font-size: 0.8rem;
    color: #CCC;
} 
.footer-box2{
    display: flex;
    align-items: centre;
    justify-content: space-evenly;
    border: 1px solid #848688;
    border-radius: 3px;
    padding: 6px 18px 6px 8px;
    font-size: 0.8rem;
    color: white;
    height: 15px;
    width:130px ;
    position: relative;
    top: 35px;
    left: 480px;
}
.footer-box2col{
    color: #CCC;
}
.fotter-box3{
    display: flex;
    align-items: centre;
    justify-content: space-evenly;
    border: 1px solid #848688;
    border-radius: 3px;
    padding: 6px 18px 6px 8px;
    font-size: 0.8rem;
    color: #CCC;
    height: 15px;
    width:130px ;
    position: relative;
    top: 35px;
    left: 485px;

}
.footer-level4{
    height: 400px;
    /* width: 80%; */
    background-color: #131A22;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    align-items: centre;
    padding-top: 80px;
    padding-left: 125px;
    padding-right: 100px;
    overflow: hidden;
}
.footer-level4 a{
    text-decoration: none;
    font-size: 0.7rem;
    color: #999;
}
.footer-level4 a:hover{
    text-decoration: underline;
}
.footer-level4 span{
    font-size: 0.9rem;
    color: #DDD;
}
.footer-last{
    position: relative;
    left: 450px;
    top: 25px;
    color: #DDD;
}
.page a{
    font-size: 0.8rem; 
    font-weight: 700;
}
.copyright{
    padding-left: 55px;
}

@media screen and (max-width: 1300px){
    .navbar {
        height: 53px;
        color: white;
        background-color: #0F1111;
        display: flex;
        flex-wrap: wrap;
        align-items: centre;
        justify-content: center;
        padding: 8px;
    }
    .nav-logo {
        height: 50px;
    width: 63px;
        padding: 0;
    }
    .logo {
        background-image: url(amazon_logo.png);
        height: 41px;
        background-size: cover;
        width: 66px;
    }
    .nav-address,.nav-lang,.nav-sign,.nav-return{
        display: none;
    }
    .nav-search {
        display: flex;
    align-items: centre;
    justify-content: space-evenly;
    background-color: #91f6fe;
    /* background-color: #febd68; */
    height: 21px;
    width: 145px;
    border-radius: 4px;
    position: relative;
    left: 18px;
    }
    .search-input{
        border-radius: 3px;
    }
    .optn { display: none;}
    .search-icon{
            position: relative;
            top: -0.7rem;
            width: 27px;
    }
    .nav-cart i {
        font-size: 19px;
    }
    .nav-cart p {
        font-size: 9px;
        font-weight: 700;
        padding-top: 5px;
    }
    .panel-all{
        font-size: 10px;
    }
    .panel {
        display: flex;
        flex-wrap: wrap;
        height: 46px;
    }
    .panel-op {
        width: 83%;
    }
    .panel-op p {
        font-size: 8px;
        display: inline;
        margin: 0;
    }
    .hero-section{
        background-image: url('hero_image.jpg');
        height: 139px;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .hero-message {
        height: 41px;
        top: 57%;
        font-size: 8px;
    }
    .shop-section,.shop-section2{
        justify-content:center;
    }
    .box ,.box-content2{
        /* border: 2px solid black; */
        height: 180.25px;
        width: 43%;
        background-color: white;
        padding: 17px 0px 15px;
    }
    .box-content h2,.box-content2 h2{
        font-size: 0.6rem;
    }
    .box-image{
        height: 128px;
        background-size: cover;
    }
    .boxsec2{
        width: 18.9rem;
        height: 14rem;
    }
    .box-inrbox,.box-inrbox2{
        flex-wrap: wrap;
    }
    .box-inerimage,.box-inerimage2{
        height: 100px;
        width: 50px;
        background-position: center;
         background-size: contain;
    }
    .box-inrbox ,.box-inrbox2{
        padding: 15px;
    }
    .box-inrbox2{
        width: 204px;
        padding-left: 3rem;
    }
    .footer-level1{
        text-align: centre;
        padding: 0;
        margin: 0;
    }

    /* .footer-level2 {
        flex-wrap: wrap;
    }  */
    ul p {
        font-weight: 700;
        font-size: 7px;
        padding-top: 40px;
    }
    ul a{
        font-size: 5px;
    }
    .footer-level2 {
        padding-left: 0px;
        padding-right: 0px;
        height: 218px;
    }
    .footer-level3{
        height: 65px;
    }

    .footer-logo,.en{
        left: 2rem;
    }
    
    .footer-box2,.footer-box3{
        display: none;
    }
    .footer-level4 {
        height: 400px;
        /* width: 80%; */
        background-color: #131A22;
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-evenly; */
        align-items: centre;
        padding-top: 0px; 
        padding-left: 0px;
        padding-right: 0px; 
        overflow: hidden;
        font-size: 3px;
    }

    .panel-deals a{font-size: 0.4rem;}

}






